@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    --shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --accent: #ffd648;
    --accent_hover: #ebb801;
}


.message{
    position:absolute;
    background: var(--accent_hover);
    color:white;
    height:40px;
    width:20%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    left: 0; 
    right: 0; 
    top:0;
    margin-left: auto; 
    margin-right: auto; 
    animation: fade_out 10s;
    z-index:10000;
    margin-top:100px;
    opacity:0;
}

@keyframes fade_out {
    from{
        opacity:1;
    }

    to{
        opacity:0;
    }
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    transition:.2s;
    border:none;
    outline:none;
    list-style:none;
    accent-color: var(--accent);
    text-decoration: none;
    scroll-behavior: smooth;
}

.hero{
    width:100%;
    min-height:700px;
    padding-bottom:20px;
}


.overlay{
    width:100%;
    height:100%;
    position:absolute;
    z-index: 1;
    background: #0000007a;
    top:0;
    left:0;

}

.img_container{
    width:100%;
    height:600px;
    /* background: #000; */
    /* margin-top:90px; */
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.nav ul li a{
    color:white;
    margin: 0 10px;
    border-radius: 16px;
}

.img_container .overlay h3{
    font-weight:600;
    font-size:50px;
 
}

.img_container .overlay{
    width:100%;
    height:600px;
    position:absolute;
    z-index: 1;
    background: #000000a4;
    display:flex;
    justify-content: center;
    align-items: center;
}




a{
    color:white;
    font-weight:500
}

li{ font-weight:500 }



h3 span{
    border: 1px solid var(--accent);
    width:15%;
}

h3{
    width:100%;
    text-align: center;
    font-weight:500;
    font-size:28px;
    min-height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:16px;
    flex-direction: column;
}



.nav{
    width:100%;
    min-height:90px;
    height: auto;
    background: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 12;
}


.overlay h3{
    color:white;
}


.nav ul{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    flex-wrap: wrap;
    gap: 10px;
}

.nav ul li{
    color:white;
    margin: 0 10px;
    border-radius: 16px;
}

.nav li a:hover{
    text-decoration: underline;
    transition:.4s;
}

.market{
    position:relative;
    cursor:default
}

.list_container{
    width:120px;
    position:absolute;
    top:40px;
    left:-20px;
    border-radius: 12px;
    min-height:10px;
    display:none;
    animation-name:animate ;
    animation-duration: .3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow:hidden;
    background: #002333;
}

.market:hover .list_container{
    display:block;
}


@keyframes animate {
    from{
        width:20px;
    }

    to{
        width:120px;
    }
}

.list_container ul{
    width:100%;
    display:block;
}

.list_container ul li{
    width:100%;
    text-align: center;
    margin:10px 0;
    padding:0 10px;
    color:white;
    font-weight:500;
    display:flex;
    justify-content: center;
    align-items: center;
}


.flex_wrap{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.container{
    width:100%;
    min-height:600px;
    margin-top:0px;
}

.hamburger {
    display: none;
    position: relative;
    cursor: pointer;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.hamburger i {
    transition: .3s;
    position: absolute;
    opacity: 1;
}

.hamburger i:nth-child(2) {
    opacity: 0;
}

.hamburger.open i:nth-child(1) {
    opacity: 0;
}

.hamburger.open i:nth-child(2) {
    opacity: 1;
}

.mobile__nav {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 90px;
    display: none;
}

.mobile__nav.open {
    display: flex;
}

.mobile__nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mobile__nav ul li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.mobile__nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.mobile__nav li:hover {
    background-color: #002333;
}

.mobile__nav .hamburger {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 764px) {
    .nav ul {
        justify-content: flex-start;
    }

    .hamburger {
        display: flex;
    }

    .nav ul li:not(.home):not(.hamburger):not(.signout) {
        display: none;
    }

    .nav .signout {
        margin-left: auto;
        background-color: #002333;
        padding: 8px;
        transition: .3s;
    }

    .nav .signout:hover {
        background-color: #8b0000;
    }

    .nav .signout a:hover {
        text-decoration: none;
    }
}


